/* цвет контента 757575 */
/* цвет заголовков 212121 */
/* цвет фона команды F5F4FA */
/* синий 2196F3 */
/* герой 2F303A */
/* лого 000000 */

:root {
  --title-text-colour: #212121;
  --primary-text-colour: #757575;
  --accent-colour: #2196f3;
  --background-color: white;
  --studio-stile-color: black;
  --section-backgroun-colour: #2f303a;
  --text-white-accent-colour: #ffffff;
  --button-background-colour: #f5f4fa;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-text-colour);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Logo */
.container {
  outline: 2px solid yellowgreen;
  width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.logo {
  display: block;
  color: var(--accent-colour);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  padding-top: 24px; /* Костыль. Не смогла понять почему
   логотип не хочет выравниваться функцией align-items: center; 
   секции main-nav*/
  margin-right: 93px;
}

.header .studio-style {
  color: var(--studio-stile-color);
}

/* Navigation */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-site,
.header {
  display: flex;
}
.nav-site > .item:not(:last-child) {
  margin-right: 50px;
}
.nav-site .item {
  outline: rebeccapurple solid 2px;
}
.nav-site .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-colour);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-site .link:hover,
.nav-site .link:focus {
  color: var(--accent-colour);
}
.nav-contact {
  display: flex;
  margin-left: auto;
}
.nav-contact-item.email {
  margin-right: 50px;
}
.nav-contact .email,
.nav-contact .tel {
  color: var(--primary-text-colour);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-contact .email:hover,
.nav-contact .email:focus {
  color: var(--accent-colour);
}
.nav-contact .tel:hover,
.nav-contact .tel:focus {
  color: var(--accent-colour);
}

.nav-site .link.current {
  color: var(--accent-colour);
}
/* Hero section */
.hero-section {
  background-color: #2f303a;
  text-align: center;

  outline: 1px solid red;
}
.hero-title {
  color: var(--text-white-accent-colour);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 40px;
}

/* Main content */
.section-title {
  color: var(--title-text-colour);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}
.preferences-list {
  display: flex;
}
.preferences-list .content-title {
  color: var(--title-text-colour);
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10;
  margin-top: 0;
}
.preferences-list .text {
  line-height: 1.71;
  margin-bottom: 0px;
  margin-top: 0;
}

/* Our team */
.team-name {
  color: var(--title-text-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 0;
}
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 10px;
  margin-bottom: 0;
}

/* Footer */
.footer-section {
  background-color: var(--section-backgroun-colour);
  padding-left: 10px;
}

.address-offline,
.address-email,
.address-tel {
  font-style: normal;
  color: var(--text-white-accent-colour);
  line-height: 1.71;
}
.footer-section .studio-style {
  color: var(--text-white-accent-colour);
}
.address-offline,
.address-tel,
.address-email {
  text-decoration: none;
}
.address-offline:hover,
.address-offline:focus {
  color: var(--accent-colour);
}
.address-tel:hover,
.address-tel:focus {
  color: var(--accent-colour);
}
.address-email:hover,
.address-email:focus {
  color: var(--accent-colour);
}

/* Buttons */

.button {
  color: var(--text-white-accent-colour);
  background-color: var(--accent-colour);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;

  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  /* border */
}

.button-port {
  color: var(--title-text-colour);
  background-color: var(--button-background-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;

  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 200px;
  text-align: center;
  border-color: var(--button-background-colour);
}
.button-port:hover,
.button-port:focus {
  background-color: var(--accent-colour);
  color: var(--text-white-accent-colour);
}
/* portfolio */
.port-title {
  color: var(--title-text-colour);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects p {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-colour);
}

.projects a {
  text-decoration: none;
}
